# Dependencies
node_modules/

# Build outputs
.build/
build/
dist/

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/
xcuserdata/
*.xcuserstate

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# AI agent
.agents
_bmad/*
!_bmad/custom/
_bmad/custom/*
!_bmad/custom/bmad-*.toml
_bmad/custom/*.user.toml
